# --- Python & System ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environments (НАЈВАЖНО!) ---
.venv/
.venv312/
env/
venv/
ENV/

# --- Manim Output (Видеа и слики) ---
# Ги игнорираме бидејќи се генерираат, не се код.
media/

# --- VS Code Settings ---
.vscode/

# --- OS Files ---
.DS_Store
Thumbs.db